<footer class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Elsewhere on the Internet</h4>
				<ul class="list-unstyled">
					<li><a href="https://twitter.com/sfwsam">Twitter</a></li>
					<li><a href="https://github.com/sambrenner">Github</a></li>
					<li><a href="https://vimeo.com/sambrenner">Vimeo</a></li>
					<li><a href="https://delicious.com/sambrenner">Delicious</a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLrZx1w6R2SyShWak_kQauPyE8TVJ1xCaD">YouTube Faves</a></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h4>Cybercorrespond</h4>
				<p><a href="https://twitter.com/sfwsam">@sfwsam</a> on Twitter or email me at sam at samjbrenner dot com.</p>
			</div>

			<div class="col-md-3">
				<canvas id="boatgame" height="200"></canvas>
			</div>
		</div>
	</div>
</footer>
