.project {
  border-bottom: 1px solid #d9d3dd;
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.additional-media-links ul {
  display: inline;
  margin-left: 8px;
}

.additional-media-links ul li {
  display: inline;
  margin-right: 8px;
}

.project-media li {
  border: 1px solid #d9d3dd;
  display: none;
}

.project-media li.active {
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 55%;
}

.project-media li img {
  width: 100%;
}
