---
layout: default
title: Notes
---

<div id="blogposts" class="col-md-12">
	<ul class="list-unstyled">
		{% for post in paginator.posts %}
			{% if post.layout == "post" %}
				<li>
					<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
		{% endif %}

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
		{% endif %}
	</div>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
